<div class="content">
<h1 class="display-1 titulo">LISTA DE EXÁMENES</h1>
  <table class="table" style="width: 100%;">
    <thead class="thead-dark">
      <tr>
          <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Clave</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let examen of examenes">
        <td>{{examen.id}}</td>
        <td>{{examen.name}}</td>
        <td>{{examen.description}}</td>
        <td>{{examen.key}}</td>
        <td>
            
          <button class="btn btn-primary btn-sm" style="margin: 2px;" routerLink='/formExamen/{{examen.id}}'
          data-toggle="tooltip" data-placement="right" title="Editar">
            <i class="far fa-edit fa-lg"></i></button>
          <button class="btn btn-danger btn-sm" style="margin: 2px;" (click)="delete(examen.id)"
          data-toggle="tooltip" data-placement="right" title="Eliminar">
            <i class="fas fa-trash-alt fa-lg"></i></button>
          <button class="btn btn-success btn-sm" style="margin: 2px;" [routerLink]="['/addPregunta', examen.id]"
          data-toggle="tooltip" data-placement="right" title="Añadir Pregunta">
            <i class="fas fa-plus-square fa-lg"></i></button>
          <button class="btn btn-primary btn-sm" style="margin: 2px;" routerLink='/addAlumno/{{examen.id}}'
          data-toggle="tooltip" data-placement="right" title="Añadir Alumno">
            <i class="fas fa-user fa-lg"></i></button>
          <button class="btn btn-info btn-sm" style="margin: 2px;" [routerLink]="['/listaQue', examen.id]"
          data-toggle="tooltip" data-placement="right" title="Mostrar Preguntas">
            <i class="fas fa-book-open fa-lg"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success btn-lg"  onClick="history.back()"><i class="fas fa-arrow-left"></i> Regresar</button>

  </div>