@font-face {
    font-family: Anton;
    src: url(/assets/font/Anton.ttf);
  }
  
  @font-face {
    font-family: Lato-Bold;
    src: url(/assets/font/Lato-Bold.ttf);
  }
  
  @font-face {
    font-family: Keep;
    src: url(/assets/font/KeepCalm-Medium.ttf);
  }
  
  .content{
    padding: 5rem;
    text-align: center;
  }
  
  .titulo{
      text-align: center;
  }
  .card{
    background: white;
    text-align: center;
    position: relative;
    left:3rem;
    border-radius: 2rem;
    padding: 5rem;
    text-align: center;
  }

  @media (max-width: 350px) {
    content{
      padding: 3rem;
       }

   }
  form{
 background: white;
  width: 100%;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  }
  @media (max-width: 800px) {
    form{
      width: 50%;
      position: relative;
      left: 30%;
       }
      .form-group{
        position: relative;
        left: 10%;
       }

   }
   @media (max-width: 1200px) {
      .form-group{
        position: relative;
        left: 10%;
       }

   }

   @media (max-width: 1500px) {
    .form-group{
      position: relative;
      left: 10%;
     }

 }

  .input{
      width: 100%;
      position: center;
  }

  .col-form-label{
      text-align: left;
  }

  .forget{
    position: right;
  }

  
  
  .input::placeholder{
    color:rgb(39, 38, 38);
  }
  
  