<div class="container datos text-center">
            <div *ngIf="detalles">
                        <h1>{{ detalles.name }}</h1>
                        <h2>{{ detalles.email }}</h2>
                        <hr>
                        <div *ngFor="let make of detalles.makes">
                            <p>
                              EXAMEN {{make.complete}} <br>
                                Nombre: {{ make.examenes[0].name }} <br>
                                Calificación: {{ make.examenes[0].calificaciones[0].calificacion }}
                            </p>
                        </div>
                    </div>
          <button class="btn btn-success" onClick="history.back()" >Regresar</button>
          </div>
        