@import '~bootstrap/dist/css/bootstrap.min.css';

.ng-invalid:not(form){
    border-left:5px solid red;
}

.ng-valid:not(form){
    border-left:5px solid green;
}

body{
    background: rgb(122, 115, 156);
    background: -webkit-linear-gradient(left,rgb(122, 115, 156),#5682c4);
    background: -moz-linear-gradient(left,rgb(122, 115, 156),#5682c4);
    background: -o-linear-gradient(left,rgb(122, 115, 156),#5682c4);
    background: linear-gradient(to left,rgb(122, 115, 156),#5682c4);
}

.logo{
    height: 40px;
    width: 40px;
}


